*{
    font-size:120%;
    font-family: 'MS Gothic';
    user-select: none;
    box-sizing: border-box;
}
body {
-webkit-touch-callout:none; /* リンク長押しのポップアップを無効化 */
}
#screen{
    border: solid 4px black;
    background-color: darkslategray;
}
